*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container{
	width: 1340px;
	margin: 0 auto;
}
.flex-banner{
	justify-content: space-around;
}
.flex-banner1{
	justify-content: center;
}
.flex-container{
	display: flex;
	flex-wrap: nowrap;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-portfolio{
	flex-wrap: wrap;
	justify-content: space-around;
}
.flex-header{
	justify-content: space-between;
}
.flex-footer{
	justify-content: space-around;
}
.flex-item1{
	width: 8.33%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item2{
	width: 16.66%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item3{
	width: 25%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item4{
	width: 33.33%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item5{
	width: 41.66%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item6{
	width: 50%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item7{
	width: 58.33%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item8{
	width: 66.66%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item9{
	width: 75%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item10{
	width: 83.33%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item11{
	width: 91.66%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.flex-item12{
	width: 100%;
	flex: 0 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header{
	background-color: black;
	padding: 20px 0;
	width: auto;
}
.gp{
	background-color: red;
	width: auto;
	height: 40px;
	margin: 20px 0;
}
.nav-menus{
	background-color: red;
	width: auto;
	height: 40px;
	margin: 20px 0;
}
.getstarted{
	background-color: red;
	width: auto;
	height: 40px;
	margin: 20px 0;

}
.banner{
	width: auto;
	background-color: red;
	padding: 80px 0;
}
.text{
	margin: 20px 0;
	background-color: black;
	width: auto;
	height: 200px;
}
.icons{
	width: auto;
	background-color: black;
	height: 100px;
	margin: 20px 0;
}
.content{
	background-color: black;
	padding: 40px 0;
	width: auto;
}
.para{
	background-color: red;
	width: auto;
	height: 200px;
	margin: 40px 0;
}
.para1{
	background-color: red;
	width: auto;
	height: 500px;
	margin: 20px 0;
}
.image{
	background-color: red;
	width: auto;
	height: 500px;
	margin: 20px 0;
}
.clients{
	background-color: red;
	padding: 20px 0;
	width: auto;
}
.client1{
    background-color: black;
	width: auto;
	height: 100px;
	margin: 20px 0;
}
.content1{
	background-color: black;
	padding: 40px 0;
	width: auto;
}
.services{
	background-color: red;
	padding: 40px 0;
	width: auto;
}
.service1{
    background-color: black;
	width: auto;
	height: 450px;
	margin: 20px 0;
}
.banner2{
	background-color: black;
	width: auto;
	padding: 80px 0;
}
.text1{
	margin: 20px 0;
	background-color: red;
	width: auto;
	height: 200px;
}
.portfolio{
	background-color: red;
	width: auto;
	padding: 40px 0;
}
.portfolio1{
	margin: 20px 0;
	background-color: black;
	width: auto;
	height: 500px;
}
.portfolio2{
	margin: 20px 0;
	background-color: black;
	width: auto;
	height: 700px;
}
.portfolio3{
	margin: 20px 0;
	background-color: black;
	width: auto;
	height: 350px;
}
.portfolio4{
	margin: 20px 0;
	background-color: black;
	width: auto;
	height: 750px;
}
.portfolio5{
	margin: 20px 0;
	background-color: black;
	width: auto;
	height: 350px;
}
.portfolio6{
	margin: 20px 0;
	background-color: black;
	width: auto;
	height: 300px;
}
.portfolio7{
	margin: 20px 0;
	background-color: black;
	width: auto;
	height: 330px;
}
.portfolio8{
	margin: 20px 0;
	background-color: black;
	width: auto;
	height: 330px;
}
.portfolio9{
	margin: 20px 0;
	background-color: black;
	width: auto;
	height: 330px;
}
.content2{
	background-color: black;
	padding: 40px 0;
	width: auto;
}
.banner3{
	background-color: red;
	width: auto;
	padding: 80px 0;
}
.text2{
	margin: 20px 0;
	background-color: black;
	width: auto;
	height: 200px;
}
.authors{
	padding: 40px 0;
	background-color: black;
	width: auto;
}
.author1{
	width: auto;
	height: 450px;
	background-color: red;
	margin: 20px 0;
}
.contact{
	padding: 40px 0;
	background-color: red;
	width: auto;

}
.map{
	width: auto;
	background-color: black;
	height: 500px;
	margin: 20px 0;
}
.location{
	width: auto;
	background-color: black;
	height: 130px;
	margin: 20px 0;
}
.email{
	width: auto;
	background-color: black;
	height: 130px;
	margin: 20px 0;
}
.call{
	width: auto;
	background-color: black;
	height: 130px;
	margin: 20px 0;
}
.personaldetails{
	width: auto;
	background-color: black;
	height: 420px;
	margin: 20px 0;
}
.content3{
	width: auto;
	padding: 40px 0;
	background-color:black;
}
.gp1{
	width: auto;
	height: 350px;
	background-color: red;
	margin: 20px 0;
}
.links{
	width: auto;
	height: 350px;
	background-color: red;
	margin: 20px 0;
}
.services1{
	width: auto;
	height: 350px;
	background-color: red;
	margin: 20px 0;
}
.newsletter{
	width: auto;
	height: 350px;
	background-color: red;
	margin: 20px 0;
}
.footer{
	background-color: red;
	padding: 20px 0;
	width: auto;
}
.copywright{
	background-color: black;
	width: auto;
	height: 40px;
	margin: 20px 0;
}
.one{
	background-color: red;
	width: auto;
	height: 100px;
	margin: 10px 0;
}
.two{
	background-color: red;
	width: auto;
	height: 100px;
	margin: 10px 0;
}
.three{
	background-color: red;
	width: auto;
	height: 100px;
	margin: 10px 0;
}
.four{
	background-color:red;
	width: auto;
	height: 100px;
	margin: 10px 0;
}
